/* imports */
/* colors */
/* import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
/* font variables */
.navbar {
  padding: 15px 10% 15px 10%;
}

/* brand logo type in navbar */
.navbar-brand {
  color: #FFFFFF;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  font-size: 32px;
  position: relative;
}

.navbar-brand:hover {
  color: #d4d4d4;
}

#menuArea {
  z-index: 1;
}

/* menu toggle */
input {
  display: none;
}

.open {
  background-color: #3c3c3c;
  width: 20px;
  height: 3px;
  display: block;
  border-radius: 0px;
  cursor: pointer;
  position: relative;
  top: 8px;
}

.open:before {
  content: "";
  background-color: #3c3c3c;
  width: 26px;
  height: 3px;
  display: block;
  border-radius: 0px;
  position: relative;
  top: -8px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.open:after {
  content: "";
  background-color: #3c3c3c;
  width: 26px;
  height: 3px;
  display: block;
  border-radius: 0px;
  position: relative;
  top: 4px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menuOpen {
  width: 24px;
  height: 20px;
  display: block;
  padding: 15px;
  cursor: pointer;
  float: right;
}

.menuOpen:hover .open:before {
  top: -9px;
}

.menuOpen:hover .open:after {
  top: 5px;
}

.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #171717;
}

.menu label {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  background-size: 100%;
  cursor: pointer;
}

.menu .menuContent {
  position: relative;
  top: 50%;
  font-size: 54px;
  text-align: center;
  padding-bottom: 20px;
  margin-top: -170px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  font-size: 52px;
}

.menu ul li a {
  display: block;
  color: white;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  padding: 10px 0;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.menu ul li a:hover {
  color: #FFFFFF;
  -webkit-text-fill-color: #171717;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #FFFFFF;
  font-size: 62px;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.menu ul li:hover {
  background: #171717;
}

.menuEffects {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
}

.menuEffects ul {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#menuToggle:checked ~ .menuEffects {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#menuToggle:checked ~ .menuEffects ul {
  opacity: 1;
}

#menuToggle:checked ~ .menuOpen .open {
  background-color: transparent;
  width: 24px;
  height: 3px;
}

#menuToggle:checked ~ .menuOpen .open:before {
  content: "";
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 24px;
  height: 3px;
}

#menuToggle:checked ~ .menuOpen .open:after {
  content: "";
  background-color: white;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: relative;
  top: 0;
  right: 0;
  z-index: 1;
  width: 24px;
  height: 3px;
}

#menuToggle:not(:checked) ~ .menuEffects ul {
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
}

.navbar-brand-alt {
  color: #171717;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  font-size: 32px;
  text-decoration: none;
}

.navbar-brand-alt:hover {
  color: #272727;
}

@media only screen and (max-width: 991px) {
  .home .open {
    background-color: #FFFFFF;
  }
  .home .open:after {
    background-color: #FFFFFF;
  }
  .home .open:before {
    background-color: #FFFFFF;
  }
}

/*-- Glitch effect on logo type --*/
@-webkit-keyframes noise-anim {
  0% {
    -webkit-clip-path: inset(71% 0 10% 0);
            clip-path: inset(71% 0 10% 0);
  }
  5% {
    -webkit-clip-path: inset(2% 0 92% 0);
            clip-path: inset(2% 0 92% 0);
  }
  10% {
    -webkit-clip-path: inset(51% 0 40% 0);
            clip-path: inset(51% 0 40% 0);
  }
  15% {
    -webkit-clip-path: inset(12% 0 18% 0);
            clip-path: inset(12% 0 18% 0);
  }
  20% {
    -webkit-clip-path: inset(48% 0 16% 0);
            clip-path: inset(48% 0 16% 0);
  }
  25% {
    -webkit-clip-path: inset(2% 0 45% 0);
            clip-path: inset(2% 0 45% 0);
  }
  30% {
    -webkit-clip-path: inset(75% 0 18% 0);
            clip-path: inset(75% 0 18% 0);
  }
  35% {
    -webkit-clip-path: inset(31% 0 60% 0);
            clip-path: inset(31% 0 60% 0);
  }
  40% {
    -webkit-clip-path: inset(20% 0 49% 0);
            clip-path: inset(20% 0 49% 0);
  }
  45% {
    -webkit-clip-path: inset(50% 0 34% 0);
            clip-path: inset(50% 0 34% 0);
  }
  50% {
    -webkit-clip-path: inset(93% 0 3% 0);
            clip-path: inset(93% 0 3% 0);
  }
  55% {
    -webkit-clip-path: inset(66% 0 24% 0);
            clip-path: inset(66% 0 24% 0);
  }
  60% {
    -webkit-clip-path: inset(72% 0 10% 0);
            clip-path: inset(72% 0 10% 0);
  }
  65% {
    -webkit-clip-path: inset(20% 0 57% 0);
            clip-path: inset(20% 0 57% 0);
  }
  70% {
    -webkit-clip-path: inset(60% 0 11% 0);
            clip-path: inset(60% 0 11% 0);
  }
  75% {
    -webkit-clip-path: inset(72% 0 11% 0);
            clip-path: inset(72% 0 11% 0);
  }
  80% {
    -webkit-clip-path: inset(64% 0 1% 0);
            clip-path: inset(64% 0 1% 0);
  }
  85% {
    -webkit-clip-path: inset(46% 0 34% 0);
            clip-path: inset(46% 0 34% 0);
  }
  90% {
    -webkit-clip-path: inset(65% 0 17% 0);
            clip-path: inset(65% 0 17% 0);
  }
  95% {
    -webkit-clip-path: inset(47% 0 48% 0);
            clip-path: inset(47% 0 48% 0);
  }
  100% {
    -webkit-clip-path: inset(48% 0 44% 0);
            clip-path: inset(48% 0 44% 0);
  }
}
@keyframes noise-anim {
  0% {
    -webkit-clip-path: inset(71% 0 10% 0);
            clip-path: inset(71% 0 10% 0);
  }
  5% {
    -webkit-clip-path: inset(2% 0 92% 0);
            clip-path: inset(2% 0 92% 0);
  }
  10% {
    -webkit-clip-path: inset(51% 0 40% 0);
            clip-path: inset(51% 0 40% 0);
  }
  15% {
    -webkit-clip-path: inset(12% 0 18% 0);
            clip-path: inset(12% 0 18% 0);
  }
  20% {
    -webkit-clip-path: inset(48% 0 16% 0);
            clip-path: inset(48% 0 16% 0);
  }
  25% {
    -webkit-clip-path: inset(2% 0 45% 0);
            clip-path: inset(2% 0 45% 0);
  }
  30% {
    -webkit-clip-path: inset(75% 0 18% 0);
            clip-path: inset(75% 0 18% 0);
  }
  35% {
    -webkit-clip-path: inset(31% 0 60% 0);
            clip-path: inset(31% 0 60% 0);
  }
  40% {
    -webkit-clip-path: inset(20% 0 49% 0);
            clip-path: inset(20% 0 49% 0);
  }
  45% {
    -webkit-clip-path: inset(50% 0 34% 0);
            clip-path: inset(50% 0 34% 0);
  }
  50% {
    -webkit-clip-path: inset(93% 0 3% 0);
            clip-path: inset(93% 0 3% 0);
  }
  55% {
    -webkit-clip-path: inset(66% 0 24% 0);
            clip-path: inset(66% 0 24% 0);
  }
  60% {
    -webkit-clip-path: inset(72% 0 10% 0);
            clip-path: inset(72% 0 10% 0);
  }
  65% {
    -webkit-clip-path: inset(20% 0 57% 0);
            clip-path: inset(20% 0 57% 0);
  }
  70% {
    -webkit-clip-path: inset(60% 0 11% 0);
            clip-path: inset(60% 0 11% 0);
  }
  75% {
    -webkit-clip-path: inset(72% 0 11% 0);
            clip-path: inset(72% 0 11% 0);
  }
  80% {
    -webkit-clip-path: inset(64% 0 1% 0);
            clip-path: inset(64% 0 1% 0);
  }
  85% {
    -webkit-clip-path: inset(46% 0 34% 0);
            clip-path: inset(46% 0 34% 0);
  }
  90% {
    -webkit-clip-path: inset(65% 0 17% 0);
            clip-path: inset(65% 0 17% 0);
  }
  95% {
    -webkit-clip-path: inset(47% 0 48% 0);
            clip-path: inset(47% 0 48% 0);
  }
  100% {
    -webkit-clip-path: inset(48% 0 44% 0);
            clip-path: inset(48% 0 44% 0);
  }
}

.navbar-brand::after {
  content: attr(data-text);
  position: absolute;
  left: 1px;
  text-shadow: -1px 0 red;
  top: 1;
  color: white;
  background: #171717;
  overflow: hidden;
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@-webkit-keyframes noise-anim-2 {
  0% {
    -webkit-clip-path: inset(15% 0 59% 0);
            clip-path: inset(15% 0 59% 0);
  }
  5% {
    -webkit-clip-path: inset(17% 0 12% 0);
            clip-path: inset(17% 0 12% 0);
  }
  10% {
    -webkit-clip-path: inset(13% 0 52% 0);
            clip-path: inset(13% 0 52% 0);
  }
  15% {
    -webkit-clip-path: inset(47% 0 17% 0);
            clip-path: inset(47% 0 17% 0);
  }
  20% {
    -webkit-clip-path: inset(39% 0 58% 0);
            clip-path: inset(39% 0 58% 0);
  }
  25% {
    -webkit-clip-path: inset(10% 0 81% 0);
            clip-path: inset(10% 0 81% 0);
  }
  30% {
    -webkit-clip-path: inset(13% 0 19% 0);
            clip-path: inset(13% 0 19% 0);
  }
  35% {
    -webkit-clip-path: inset(55% 0 21% 0);
            clip-path: inset(55% 0 21% 0);
  }
  40% {
    -webkit-clip-path: inset(22% 0 5% 0);
            clip-path: inset(22% 0 5% 0);
  }
  45% {
    -webkit-clip-path: inset(39% 0 12% 0);
            clip-path: inset(39% 0 12% 0);
  }
  50% {
    -webkit-clip-path: inset(52% 0 20% 0);
            clip-path: inset(52% 0 20% 0);
  }
  55% {
    -webkit-clip-path: inset(49% 0 32% 0);
            clip-path: inset(49% 0 32% 0);
  }
  60% {
    -webkit-clip-path: inset(44% 0 53% 0);
            clip-path: inset(44% 0 53% 0);
  }
  65% {
    -webkit-clip-path: inset(35% 0 12% 0);
            clip-path: inset(35% 0 12% 0);
  }
  70% {
    -webkit-clip-path: inset(24% 0 73% 0);
            clip-path: inset(24% 0 73% 0);
  }
  75% {
    -webkit-clip-path: inset(97% 0 3% 0);
            clip-path: inset(97% 0 3% 0);
  }
  80% {
    -webkit-clip-path: inset(84% 0 13% 0);
            clip-path: inset(84% 0 13% 0);
  }
  85% {
    -webkit-clip-path: inset(40% 0 1% 0);
            clip-path: inset(40% 0 1% 0);
  }
  90% {
    -webkit-clip-path: inset(27% 0 12% 0);
            clip-path: inset(27% 0 12% 0);
  }
  95% {
    -webkit-clip-path: inset(2% 0 39% 0);
            clip-path: inset(2% 0 39% 0);
  }
  100% {
    -webkit-clip-path: inset(12% 0 86% 0);
            clip-path: inset(12% 0 86% 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    -webkit-clip-path: inset(15% 0 59% 0);
            clip-path: inset(15% 0 59% 0);
  }
  5% {
    -webkit-clip-path: inset(17% 0 12% 0);
            clip-path: inset(17% 0 12% 0);
  }
  10% {
    -webkit-clip-path: inset(13% 0 52% 0);
            clip-path: inset(13% 0 52% 0);
  }
  15% {
    -webkit-clip-path: inset(47% 0 17% 0);
            clip-path: inset(47% 0 17% 0);
  }
  20% {
    -webkit-clip-path: inset(39% 0 58% 0);
            clip-path: inset(39% 0 58% 0);
  }
  25% {
    -webkit-clip-path: inset(10% 0 81% 0);
            clip-path: inset(10% 0 81% 0);
  }
  30% {
    -webkit-clip-path: inset(13% 0 19% 0);
            clip-path: inset(13% 0 19% 0);
  }
  35% {
    -webkit-clip-path: inset(55% 0 21% 0);
            clip-path: inset(55% 0 21% 0);
  }
  40% {
    -webkit-clip-path: inset(22% 0 5% 0);
            clip-path: inset(22% 0 5% 0);
  }
  45% {
    -webkit-clip-path: inset(39% 0 12% 0);
            clip-path: inset(39% 0 12% 0);
  }
  50% {
    -webkit-clip-path: inset(52% 0 20% 0);
            clip-path: inset(52% 0 20% 0);
  }
  55% {
    -webkit-clip-path: inset(49% 0 32% 0);
            clip-path: inset(49% 0 32% 0);
  }
  60% {
    -webkit-clip-path: inset(44% 0 53% 0);
            clip-path: inset(44% 0 53% 0);
  }
  65% {
    -webkit-clip-path: inset(35% 0 12% 0);
            clip-path: inset(35% 0 12% 0);
  }
  70% {
    -webkit-clip-path: inset(24% 0 73% 0);
            clip-path: inset(24% 0 73% 0);
  }
  75% {
    -webkit-clip-path: inset(97% 0 3% 0);
            clip-path: inset(97% 0 3% 0);
  }
  80% {
    -webkit-clip-path: inset(84% 0 13% 0);
            clip-path: inset(84% 0 13% 0);
  }
  85% {
    -webkit-clip-path: inset(40% 0 1% 0);
            clip-path: inset(40% 0 1% 0);
  }
  90% {
    -webkit-clip-path: inset(27% 0 12% 0);
            clip-path: inset(27% 0 12% 0);
  }
  95% {
    -webkit-clip-path: inset(2% 0 39% 0);
            clip-path: inset(2% 0 39% 0);
  }
  100% {
    -webkit-clip-path: inset(12% 0 86% 0);
            clip-path: inset(12% 0 86% 0);
  }
}

.navbar-brand::before {
  content: attr(data-text);
  position: absolute;
  left: -1px;
  text-shadow: 1px 0 blue;
  top: 1;
  color: white;
  background: #171717;
  overflow: hidden;
  animation: noise-anim-2 15s infinite linear alternate-reverse;
}

.container {
  max-width: 100%;
  margin-top: -90px;
}

.hero-left {
  background-color: #171717;
  text-align: right;
}

.heading-hero {
  padding: 20% 0px 20% 15%;
}

.heading-hero h1 {
  font-family: "Overpass", sans-serif;
  font-size: 178px;
  font-weight: 600;
  color: #FFFFFF;
}

.hero-right {
  padding-left: 0;
  padding-top: 24%;
}

.hero-right img {
  max-width: 520px;
}

.showreel-btn {
  position: absolute;
  padding-left: 20px;
  margin-top: -106px;
}

.hero-right i {
  font-size: 62px;
  color: #171717;
}

.hero-right i:hover {
  color: #272727;
}

.hero-right h4 {
  color: #171717;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

@media only screen and (max-width: 1600px) {
  .hero-right img {
    max-width: 420px;
  }
  .hero-right {
    padding-left: 0;
    padding-top: 28%;
  }
  .heading-hero {
    padding: 20% 0px 10% 15%;
  }
}

@media only screen and (max-width: 1260px) {
  .heading-hero h1 {
    font-size: 130px;
  }
  .hero-right {
    padding-top: 20%;
  }
  .hero-right img {
    max-width: 300px;
  }
  .heading-hero {
    padding: 20% 0px 0% 15%;
  }
}

@media only screen and (max-width: 991px) {
  .hero-right {
    padding-top: 0;
    padding-left: 10%;
  }
  .hero-left {
    padding-right: 10%;
  }
  .showreel-btn {
    padding-left: 300px;
    margin-top: -94px;
  }
}

@media only screen and (max-width: 645px) {
  .heading-hero h1 {
    font-size: 72px;
  }
  .heading-hero {
    padding: 40% 0px 0% 5%;
  }
  .showreel-btn {
    padding-left: 12px;
  }
}

@media only screen and (max-width: 376px) {
  .heading-hero h1 {
    font-size: 52px;
  }
  .heading-hero {
    padding: 50% 0px 0% 5%;
  }
  .hero-right img {
    max-width: 256px;
  }
}

.about {
  margin: auto;
}

.about-right {
  background-color: #171717;
  padding: 72px 0 72px 20px;
}

.about-right h2 {
  color: #FFFFFF;
  font-family: "Overpass", sans-serif;
  font-size: 120px;
  font-weight: 600;
}

.about-left {
  padding: 72px 32px 72px 10%;
}

.about-left h3 {
  color: #171717;
  font-family: "Overpass", sans-serif;
  font-size: 32px;
  font-weight: 600;
}

.about-left p {
  color: #171717;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
}

@media only screen and (max-width: 1260px) {
  .about-right h2 {
    font-size: 92px;
  }
}

@media only screen and (max-width: 991px) {
  .about-right h2 {
    font-size: 72px;
  }
}

@media only screen and (max-width: 645px) {
  .about-right h2 {
    font-size: 64px;
  }
}

@media only screen and (max-width: 767px) {
  .about-right {
    padding: 72px 0 72px 10%;
  }
}

@media only screen and (max-width: 376px) {
  .about-right h2 {
    font-size: 48px;
  }
}

.work {
  margin: auto;
  padding: 72px 10% 72px 10%;
}

.work h2 {
  color: #171717;
  font-family: "Overpass", sans-serif;
  font-size: 120px;
  font-weight: 600;
}

.work h3 {
  color: #FFFFFF;
  font-family: "Overpass", sans-serif;
  font-size: 26px;
  font-weight: 600;
}

.work h4 {
  color: #d4d4d4;
  font-family: "Overpass", sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding: 6px 0px;
}

.work p {
  padding-top: 12px;
}

.project-block {
  background-color: #FFFFFF;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.project-block:hover {
  padding: 0;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.work .row {
  padding: 12px 0px;
}

.work .box {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 380px;
  position: relative;
  overflow: hidden;
}

.work .project-block .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #171717;
  -webkit-transition: opacity 0.15s ease-in;
  transition: opacity 0.15s ease-in;
  opacity: 0;
  padding-top: 70px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  -webkit-transition: 400ms;
  transition: 400ms;
}

.work .project-block .icon {
  width: 42px;
  padding: 2px;
}

.work .project-block:hover .cover {
  opacity: 0.96;
  cursor: pointer;
  padding-top: 100px;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.work-cta {
  text-align: center;
  padding-top: 40px;
}

.work-cta button {
  padding: 8px 36px;
}

.hero-project {
  padding: 92px 10% 92px 22px;
}

/*--for glitch button--*/
.btn-link {
  position: relative;
  display: inline-block;
  color: #281130;
  font-size: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
  z-index: 1;
}

.btn-link:before, .btn-link:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.btn-link:before {
  background-color: #0ffbf9;
  z-index: -1;
}

.btn-link:after {
  background-color: #cc0f39;
  z-index: -2;
}

.btn-link:hover .link-inner {
  -webkit-animation: glitchy 0.3s ease 1;
          animation: glitchy 0.3s ease 1;
}

.btn-link:hover:before {
  -webkit-animation: glitchy 1.3s ease 1.3s;
          animation: glitchy 1.3s ease 1.3s;
}

.btn-link:hover:after {
  animation: glitchy 1.3s ease reverse;
}

.link-inner {
  display: block;
  height: 100%;
  background-color: #171717;
  padding: 15px 45px;
  color: #FFFFFF;
  font-family: "Overpass", sans-serif;
  font-size: 18px;
}

.link-inner:hover {
  color: #d4d4d4;
}

@-webkit-keyframes glitchy {
  0% {
    -webkit-transform: translate(-1px, 2px);
            transform: translate(-1px, 2px);
  }
  25% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  50% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  75% {
    -webkit-transform: translate(2px, -1px);
            transform: translate(2px, -1px);
  }
  100% {
    -webkit-transform: translate(-2px, 1px);
            transform: translate(-2px, 1px);
  }
}

@keyframes glitchy {
  0% {
    -webkit-transform: translate(-1px, 2px);
            transform: translate(-1px, 2px);
  }
  25% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  50% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  75% {
    -webkit-transform: translate(2px, -1px);
            transform: translate(2px, -1px);
  }
  100% {
    -webkit-transform: translate(-2px, 1px);
            transform: translate(-2px, 1px);
  }
}

@media only screen and (max-width: 767px) {
  .project-block {
    padding: 12px 0px;
  }
  .work .row {
    padding: 0px;
  }
}

@media only screen and (max-width: 1260px) {
  .work h2 {
    font-size: 92px;
  }
}

@media only screen and (max-width: 991px) {
  .work h2 {
    font-size: 72px;
  }
}

@media only screen and (max-width: 645px) {
  .work h2 {
    font-size: 64px;
  }
}

@media only screen and (max-width: 376px) {
  .work h2 {
    font-size: 48px;
  }
}

.contact {
  margin: auto;
  padding: 72px 10% 72px 10%;
}

.contact h2 {
  color: #171717;
  font-family: "Overpass", sans-serif;
  font-size: 120px;
  font-weight: 600;
}

.contact-block {
  text-align: center;
}

.contact-card {
  border: 2px solid #171717;
  padding: 28px 0px;
}

.contact-block .text a {
  color: #171717;
  font-family: "Overpass", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.contact-card i {
  font-size: 32px;
  padding-bottom: 6px;
}

.contact-card:hover {
  background-color: #171717;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.contact-card:hover i {
  color: #FFFFFF;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.contact-card:hover a {
  color: #FFFFFF;
  -webkit-transition: 400ms;
  transition: 400ms;
}

@media only screen and (max-width: 992px) {
  .contact-block {
    padding: 12px 0px 12px 0px;
  }
}

@media only screen and (max-width: 1260px) {
  .contact h2 {
    font-size: 92px;
  }
}

@media only screen and (max-width: 991px) {
  .contact h2 {
    font-size: 72px;
  }
}

@media only screen and (max-width: 645px) {
  .contact h2 {
    font-size: 64px;
  }
}

@media only screen and (max-width: 376px) {
  .contact h2 {
    font-size: 48px;
  }
}

.footer {
  margin: auto;
  background-color: #171717;
  text-align: center;
}

.footer .row {
  padding: 72px 0px;
}

.footer h4 {
  color: #FFFFFF;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 12px;
}

.footer i {
  color: #FFFFFF;
  font-size: 20px;
  padding: 0px 8px;
}

.footer i:hover {
  color: #d4d4d4;
  cursor: pointer;
}

.footer .copyright {
  padding: 0;
}

.copyright p {
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

header .project {
  margin: auto;
}

.project .hero-project {
  padding: 92px 110px 92px 22px;
}

.project h1 {
  color: #171717;
  font-family: "Overpass", sans-serif;
  font-size: 120px;
  font-weight: 600;
}

.left-project {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.project-name {
  padding: 48px 9%;
}

.hero-project h3 {
  color: #171717;
  font-family: "Overpass", sans-serif;
  font-size: 32px;
  font-weight: 600;
}

.hero-project p {
  color: #171717;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.about ol, ul {
  color: #171717;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.case-study {
  padding: 72px 10% 32px 10%;
}

.case-study h3 {
  color: #171717;
  font-family: "Overpass", sans-serif;
  font-size: 32px;
  font-weight: 600;
}

.case-study p {
  color: #171717;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.project-cta {
  padding: 0px 10% 72px 10%;
}

.btn-link {
  margin: 12px 2px;
}

@media only screen and (max-width: 992px) {
  .left-project {
    min-height: 420px;
  }
  .project .hero-project {
    padding: 72px 10% 72px 10%;
  }
  .case-study {
    padding: 0px 10% 32px 10%;
  }
}

@media only screen and (max-width: 552px) {
  .left-project {
    min-height: 280px;
  }
}

@media only screen and (max-width: 1260px) {
  .project-name h1 {
    font-size: 130px;
  }
}

@media only screen and (max-width: 645px) {
  .project-name h1 {
    font-size: 72px;
  }
}

@media only screen and (max-width: 376px) {
  .project-name h1 {
    font-size: 52px;
  }
}

body {
  cursor: url(""), auto;
}
/*# sourceMappingURL=main.css.map */